@page
@model CHIN_UP.Pages.aboutModel
@{
}
<style>
	.abttt{

      width:100%;
	  height:105vh;
	  flex-wrap:wrap;
	  padding:10px 20px;
	  margin:0px 0px;

	}
	.ap{
      display:flex;
		background-color: dimgray;
	}

	.ftn {
		font-family: sans-serif;
		
		margin-left:27%;
		font-size: 18PX;
		margin-top: 20px;
		display: block;
		color: black;
		list-style-type: none;
		text-decoration: none;
	}
	.nym1{
		font-size: 32px;
		margin-left: 40%;
		margin-top: 120px;
		color: white;
		text-shadow: 2px 2px 5px purple;
		

		
	}



</style>

<div class="ap">

<div class="abttt">

	<h1>About Us</h1>
		<strong>With Chinup, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.

	There are millions of tracks and episodes on Chinup. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let Chinup surprise you.

		You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.

		Soundtrack your life with Chinup. Subscribe or listen for free.
	</strong>

	<h1>Customer Service and Support</h1>
	<strong>
		Help site. Check out our help site for answers to your questions and to learn how to get the most out of Chinup and your music.
	Community. Get fast support from expert Chinup users. If there isn’t already an answer there to your question, post it and someone will quickly answer. You can also suggest and vote on new ideas for Chinup or simply discuss music with other fans.
		Contact us. Contact our Customer Support if you don’t find a solution on our support site or Community.
		Or pick a topic:
	</strong>
	<h1>Advertising on Chinup? Advertisers section</h1>
	<strong>
		Press query? Press section
		Applying for a job? Jobs section
	Chinup USA, Inc. provides the Chinup service to users in the United States. Chinup AB provides the Chinup service to users in all other markets.

	    Chinup HQ
	    Chinup AB
		Regeringsgatan 19
		SE-111 53 Stockholm
		Sweden
		Reg no: 556703-7485
	    office@Chinup.com
	    Chinup around the world
	    Chinup Belgium
		Square de Meeus 37
		4th floor
		1000 Brussels
		Belgium
	    office@Chinup.com
	    Chinup GmbH
		Unter den Linden 10
		10117 Berlin
		Germany
	    office@Chinup.com
	    Chinup Canada Inc.
		220 Adelaide Street West
		M5H 1W7 Toronto Ontario
	</strong>

		<div class="nym1"> <i class="fa fa-copyright" aria-hidden="true"></i>  2023_<i class="fa fa-hand-spock-o" aria-hidden="true"></i> ChinUp</> </div>
		<a class="ftn" asp-area="" asp-page="/login">Privacy· Terms · Advertising · Ad choices · Cookies· Meta © 2023</a>

 









</div>
</div>